@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
      font-family: 'Vollkorn', serif;
      font-weight: 400;
      src: url(/fonts/Vollkorn/Vollkorn-Regular.ttf) format("ttf");
    }
    @font-face {
      font-family: 'Vollkorn', serif;
      font-weight: 700;
      src: url(/fonts/Vollkorn/Vollkorn-Regular.ttf) format("ttf");
    }
    #app {
        font-family: 'Vollkorn', serif;
    } 
  }

::-webkit-scrollbar {
    width: 0;
}
.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
    width: 100%;
    background: #F6F7F8;
    text-transform: lowercase;
    transition-property: max-width;
    transition-duration: 1s;
}
.vs__dropdown-menu{
    height: 142px;
    border: 1px solid #C1D9E6;
    border-radius: 5px;
    box-shadow: none;
    border-top: 1px solid #E3EBEF;
    /* left: -138px !important; */
}
.v-select{
    height: 48px;
    min-width: 150px;
    width: 150px;
    max-width: 20%;
    border: 1px solid #E3EBEF;
    border-radius: 5px;
    transition-property: max-width;
    transition-duration: 0.5s;
    
}
.vs__selected {
    font-size: 1rem;
    line-height: 23px;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    color: #282828;
}
.vs--open {
    max-width: 440px;
    border: 1px solid #C1D9E6;
}
.vs__dropdown-toggle{
    height: 48px;
    border: none;
    padding-bottom: 0;
}
.vs__dropdown-toggle:hover{
    max-width: 440px !important;
}

.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu:active{
    max-width: 440px;
}
.style-chooser .vs__clear,
.style-chooser .vs__open-indicator {
  fill: #80A2B6;
}
.select-option{
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.vs__selected{
    height: 40px;
    text-align: center;
}

.icon {
    padding-right: 12px;
    width: 30px;
    height: 30px;
  }
.select-option__ticker{
    font-size: 1rem;
    line-height: 23px;
    text-transform: uppercase;
    color: #282828;
    padding-right: 16px;
    }
.select-option__name{
    font-size: 1rem;
    line-height: 23px;
    color: #80A2B6;
    text-transform: capitalize;
}

.v-select.style-chooser.vs--single.vs--searchable{
    padding: 0;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    justify-content: flex-end;
}
.vs__dropdown-option--highlight {
    background-color: #EAF1F7;
}
.my-arrow{
    display: flex;
    position: relative;
}
.my-span-arrow-left{
    position: absolute;
    width: 10px;
    height: 2px;
    display: block;
    background-color:#80A2B6;
    transform: translateX(-12px) rotate(45deg);
}
.my-span-arrow-right{
    width: 10px;
    height: 2px;
    display: block;
    background-color:#80A2B6;
    transform: translateX(-6px) rotate(-45deg);
}
.vs--open .vs__open-indicator{
    transform: none !important;
}

.vs--open .vs__open-indicator .my-span-arrow-right{
    transform: translateX(-10px) rotate(45deg);
}
.vs--open .vs__open-indicator .my-span-arrow-left{
    transform: translateX(-10px) rotate(-45deg);
}

.vs__clear{
    display: none;
}
